@font-face {
    font-family: 'Inter';
    src: url(./fonts/inter/Inter-Medium.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_light';
    src: url(./fonts/inter/Inter-Light.ttf) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTCommons';
    src: url(./fonts/TTCommons/TTCommons-Black.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'TTCommons_medium';
    src: url(./fonts/TTCommons/TTCommons-Light.woff) format('woff');
    /* font-weight: 400; */
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url(./fonts/Manrope/Manrope-Regular.woff) format('woff');
    /* font-weight: 400; */
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: solid red; */
}

html {
    font-size: 14px;
}

body {
    /* width: 100%; */
    margin: 0 auto;
    background-repeat: no-repeat;
}

h1,
h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 126px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 102.52%;
    padding-left: 122px;
    padding-right: 60px;
}

.nav_logo {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background-image: url(./img/img_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-size: cover;
}

.nav ul {
    display: flex;
    color: #4E4E4E;
}

.nav ul li {
    margin-left: 82px;
    list-style-type: none;
}

.wrap_WhatsApp {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.wrap_WhatsApp .WhatsApp_img a:hover,
.wrap_WhatsApp .WhatsApp_number a:hover {
    border-bottom: 0;
}

.WhatsApp_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #D9D9D9;
    border-radius: 10px;
}

.WhatsApp_img img {
    width: 60px;
    height: 60px;
}

.WhatsApp_number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 33px;
    height: 81px;
    padding: 0 29px;
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #D9D9D9;
    border-radius: 10px;
    color: white;
}

.WhatsApp_number a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 102.52%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav ul a:link {
    color: #4E4E4E;
    text-decoration: none;
}

.nav ul a:visited {
    color: #4E4E4E;
}

.nav a:hover {
    border-bottom: 3px solid #406750;
}

.nav a:active {
    border-bottom: 3px solid #406750;
}

.header_img {
    min-width: 940px;
    height: 824px;
    background-color: #406750;
    background-image: url(./img/Header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
}

.wrap_header_chat {
    width: 100%;
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #406750;
}

.wrap_chat {
    margin-top: 35px;
    width: 614px;
}

.form_tg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.input_tg {
    width: 294px;
    height: 65px;
    padding: 22px 20px;
    background: #FCFCFC;
    border: 0;
    box-shadow: inset 7px 5px 10px rgba(207, 214, 228, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 102.5%;
}

.input_tg:nth-child(even) {
    margin-left: 26px;
}

.input_tg:nth-child(3) {
    margin-top: 30px;
}

.input_tg:nth-child(4) {
    margin-top: 30px;
}

.form_tg .bat {
    width: 185px;
    height: 51px;
    padding: 10px;
    background: #000000;
    box-shadow: none;
    border-radius: 18px;
    margin-top: 39px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 102.5%;
    text-align: center;
    color: #FFFFFF;
}

.chat_header h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 102.52%;
    color: #FFFFFF;
    margin-right: 20px;
}

.heading h1 {
    font-family: 'Inter_light';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 102.52%;
    color: #FFFFFF;
}

.chat_header {
    display: flex;
    align-items: center;
}

.heading {
    padding-bottom: 170px;
}

.chat_header img {
    width: 48px;
    height: 48px;
}

.wrap_slogan_chat h2 {
    font-family: 'TTCommons_medium';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 102.52%;
    color: #FFFFFF;
}

.wrap_header_chat {
    padding-left: 59px;
    padding-top: 47px;
}

.wrap_services {
    background-image: url(./img/fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 173px;
    padding-top: 83px;
    padding-right: 367px;
    padding-bottom: 116px;
}

.wrap_services h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #537963;
}

.services_item_content h2 {
    margin-bottom: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 102.52%;
    color: #000000;
}

.wrap_services_item {
    display: flex;
    margin-top: 83px;
}

.services_item_img img {
    width: 727px;
    height: 410px;
}

.services_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 10px;
}

.services_item_content p {
    width: 613px;
    margin-bottom: 85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 102.52%;
    color: #000000;
}

.services_item_content button {
    width: 186px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    background-color: #000000;
    border-radius: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 102.5%;
    text-align: center;
    color: #FFFFFF;
}

.services_item_content button:hover {
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #000000;
}

.about_fon {
    width: 100%;
    height: 100%;
    padding-left: 173px;
    padding-top: 69px;
    padding-right: 173px;
    padding-bottom: 172px;
    background-image: url(./img/about_fon.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about_fon h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 51px;
}

.wrap_about {
    display: flex;
    color: #FFFFFF;
    background-image: url(./img/about_fon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 77px;
}

.wrap_about_content {
    display: flex
}

.about_content p {
    width: 520px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 102.52%;
    color: #FFFFFF;
    padding-bottom: 297px;
}

.about_content_footer {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.about_content_footer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_content_footer_item img {
    width: 57px;
    height: 57px;
    margin-bottom: 42px;
}

.about_reviews {
    margin-left: auto;
}

.about_reviews_item_conten {
    width: 432px;
    height: 201px;
    margin-top: 30px;
    background-image: url(./img/otziv.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about_reviews_item_conten:nth-child(1n+2) {
    margin-top: 30px;
}

.about_reviews_item_conten p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 102.52%;
    color: #000000;
}

.wrap_about_reviews_item {
    display: flex;
    align-items: flex-end;
}

.wrap_about_reviews_item img {
    width: 78px;
    height: 78px;
}

.about_content_footer_item span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wrap_works {
    overflow: hidden;
    background-image: url(./img/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap_works h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 102.52%;
    margin-left: 173px;
    text-transform: capitalize;
    color: #537963;
    margin-bottom: 120px;
}

.wrap_works_img {
    display: flex;
    margin: 0 auto
}

.wrap_works_img img {
    min-width: 420px;
    height: 550px;
    margin-bottom: 104px;
}

.wrap_works_img img:nth-child(1n+2) {
    margin-left: 24px;
}

.wrap_works_img_scroll {
    content: "";
    position: relative;
    margin: 0 auto;
    width: 1386px;
    height: 11px;
    background-color: #C6C6C6;
    border-radius: 20px;
    margin-bottom: 20px;
}

.wrap_works_img_scroll_thumb {
    content: "";
    position: absolute;
    right: 632px;
    left: 0;
    /* width: 754px; */
    background-color: #537963;
    border-radius: 20px;
    height: 11px;
}

.swiper {
    padding-bottom: 50px;
}

.swiper-slide img {
    min-width: 420px;
    height: 550px;
    margin-left: 20px;
}

.scrollbar {
    width: 754px;
    height: 11px;
    background-color: #537963;
    border-radius: 20px;
}

.content_social_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 145px;
    background-color: #FFFFFF;
    box-shadow: 2px 5px 11px 2px rgba(79, 79, 79, 0.17);
    border-radius: 8px;
    margin-bottom: 44px;
}

.content_social_item img{
width: 97px;
height: 97px;
}

.content_social_item:nth-child(even) {
    margin-left: 40px;
}

.content_social_item:nth-child(1n+3) {
    margin-bottom: 94px;
}

.wrap_contacts h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 94px;
}

.wrap_contacts_content_social {
    width: 654px;
    display: flex;
    flex-wrap: wrap;
}

.wrap_contacts_content {
    display: flex;
}

.contacts_wrap_item {
    margin-left: 21px;
    margin-bottom: 36px;
}

.contacts_wrap_item h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 102.52%;
    color: #201413;
    margin-bottom: 13px;
}

.contacts_wrap_item a {
    text-decoration: none;
}

.contacts_wrap_item span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 102.52%;
    color: #201413;
}

.wrap_map {
    width: 900px;
    height: 582px;
}

.wrap_contacts_all {
    display: flex;
}

.contacts {
    padding-left: 173px;
    padding-right: 60px;
}

.contacts h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 94px;
}

.wrap_map {
    margin-left: 133px;
}

.wrap_map iframe {
    border-radius: 14px;
}

.footer {
    display: flex;
    height: 261px;
    padding-left: 113px;
    padding-right: 134px;
    background: #303030;
}

.wrap_footer_logo div {
    margin-left: 9px;
}

.footer h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 102.52%;
    color: #FFFFFF;
}

.footer h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 27px;
    line-height: 102.52%;
    color: #FFFFFF;
}

.wrap_footer_logo {
    padding-top: 80px;
    padding-bottom: 112px;
    display: flex;
    align-items: flex-end;
}

.wrap_footer_menu {
    padding-left: 75px;
}

.wrap_footer_menu a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wrap_footer_menu li {
    list-style-type: none;
    margin-bottom: 17px;
}

.wrap_footer_menu {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrap_footer_soc {
    padding-top: 100px;
    display: flex;
    margin-left: 165px;
}

.wrap_footer_soc div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    background: #537963;
    border-radius: 12px;
}

.wrap_footer_soc div:nth-child(2) {
    margin-left: 64px;

}

.wrap_footer_tel {
    padding-top: 125px;
    margin-left: 165px;
}

.wrap_footer_tel a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 102.52%;
    text-align: center;
    color: #FFFFFF;
}

.wrap_footer_madeby {
    margin-left: auto;
    padding-top: 108px;
}

.wrap_footer_madeby h2 {
    margin-bottom: 11px;
    font-family: 'Inter_light';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wrap_footer_madeby a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 102.52%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wrap_tele_details .form_tg {
    width: 393px;
    justify-content: flex-start;
    margin-top: 34px;
}

.wrap_tele_details .input_tg {
    width: 188px;
    height: 41px;
    padding: 18px 15px;
    background: #FCFCFC;
    border: 0;
    box-shadow: inset 7px 5px 10px rgba(207, 214, 228, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 22px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 102.5%;
}

.wrap_tele_details .input_tg:nth-child(even) {
    margin-left: 17px;
}

.wrap_tele_details .input_tg:nth-child(3) {
    margin-top: 17px;
}

.wrap_tele_details .input_tg:nth-child(4) {
    margin-top: 17px;
}

.wrap_tele_details .form_tg .bat {
    margin-left: auto;
    justify-content: flex-end;
    width: 120px;
    height: 30px;
    padding: 10px;
    background: #000000;
    box-shadow: none;
    border-radius: 18px;
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 102.5%;
    text-align: center;
    color: #FFFFFF;
}

.wrap_tele_details .wrap_slogan_chat h2 {
    font-size: 18px;
}

.wrap_tele_details {
    display: none;
    position: fixed;
    top: 50px;
    right: auto;
    left: calc(50% - 289px);
    z-index: 10;
    width: 577px;
    height: 308px;
    padding-left: 86px;
    padding-top: 41px;
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #D9D9D9;
    border-radius: 17px;
}

.image_filter {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}

.fillin_div {
    display: none;
    position: fixed;
    top: 50px;
    right: auto;
    left: calc(50% - 188.5px);
    z-index: 10;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    width: 377px;
    height: 202px;
    background: linear-gradient(216.96deg, #406750 -12.07%, #629C7A 125.89%), #D9D9D9;
    border-radius: 17px;
}

.fillin_div h1 {
    font-family: 'TTCommons_medium';
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 102.52%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fillin_div h2 {
    font-family: 'TTCommons_medium';
    /* margin-top: 5px; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 102.52%;
    color: #FFFFFF;
}

.fillin {
    background: #FCFCFC;
    box-shadow: inset 4px 4px 10px rgba(226, 65, 65, 0.5), inset -5px -5px 10px #FFFFFF;
    border-radius: 14px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 102.5%;
    color: #E44444;
    border-radius: 22px;
}

.active {
    display: block;
}

body {
    /* width: 137.1429rem; */
    /* width: 100%; */
}

.nav {
    height: 9.0000rem;
    font-size: 2.1429rem;
    padding-left: 8.7143rem;
    padding-right: 4.2857rem;
}

.nav_logo {
    width: 6.5000rem;
    height: 6.5000rem;
}

.nav ul li {
    margin-left: 5.8571rem;
}

.WhatsApp_img {
    width: 5.7857rem;
    height: 5.7857rem;
    border-radius: 0.7143rem;
}

.WhatsApp_img img {
    width: 4.2857rem;
    height: 4.2857rem;
}

.WhatsApp_number {
    margin-left: 2.3571rem;
    height: 5.7857rem;
    padding: 0 2.0714rem;
    border-radius: 0.7143rem;
}

.WhatsApp_number a {
    font-size: 2.1429rem;
}

.nav a:hover {
    border-bottom: 0.2143rem solid #406750;
}

.nav a:active {
    border-bottom: 0.2143rem solid #406750;
}

.header_img {
    min-width: 67.1429rem;
    height: 58.8571rem;
}

.wrap_chat {
    margin-top: 2.5000rem;
    width: 43.8571rem;
}

.input_tg {
    width: 21.0000rem;
    height: 4.6429rem;
    padding: 1.5714rem 1.4286rem;
    box-shadow: inset 0.5000rem 0.3571rem 0.7143rem rgba(207, 214, 228, 0.5), inset -0.3571rem -0.3571rem 0.7143rem #FFFFFF;
    border-radius: 1.5714rem;
    font-size: 1.5714rem;
}

.input_tg:nth-child(even) {
    margin-left: 1.8571rem;
}

.input_tg:nth-child(3) {
    margin-top: 2.1429rem;
}

.input_tg:nth-child(4) {
    margin-top: 2.1429rem;
}

.form_tg .bat {
    width: 13.2143rem;
    height: 3.6429rem;
    padding: 0.7143rem;
    border-radius: 1.2857rem;
    margin-top: 2.7857rem;
    font-size: 1.5714rem;
}

.chat_header h1 {
    font-size: 4.5714rem;
    margin-right: 1.4286rem;
}

.heading h1 {
    font-size: 4.5714rem;
}

.heading {
    padding-bottom: 12.1429rem;
}

.chat_header img {
    width: 3.4286rem;
    height: 3.4286rem;
}

.wrap_slogan_chat h2 {
    font-size: 2.2857rem;
}

.wrap_header_chat {
    padding-left: 4.2143rem;
    padding-top: 3.3571rem;
}

.wrap_services {
    padding-left: 12.3571rem;
    padding-top: 5.9286rem;
    padding-right: 26.2143rem;
    padding-bottom: 8.2857rem;
}

.wrap_services h1 {
    font-size: 4.1429rem;
}

.services_item_content h2 {
    margin-bottom: 1.2857rem;
    font-size: 3.4286rem;
}

.wrap_services_item {
    margin-top: 5.9286rem;
}

.services_item_img img {
    width: 51.9286rem;
    height: 29.2857rem;
}

.services_item_content {
    padding-left: 2.8571rem;
    padding-top: 0.7143rem;
}

.services_item_content p {
    width: 43.7857rem;
    margin-bottom: 6.0714rem;
    font-size: 1.7143rem;
}

.services_item_content button {
    width: 13.2857rem;
    padding-top: 1.0714rem;
    padding-bottom: 1.0714rem;
    border-radius: 1.2857rem;
    font-size: 1.5714rem;
}

.about_fon {
    padding-left: 12.3571rem;
    padding-top: 4.9286rem;
    padding-right: 12.3571rem;
    padding-bottom: 12.2857rem;
}

.about_fon h1 {
    font-size: 4.1429rem;
    margin-bottom: 3.6429rem;
}

.wrap_about {
    margin-bottom: 5.5000rem;
}

.about_content p {
    width: 37.1429rem;
    font-size: 2.0714rem;
    padding-bottom: 21.2143rem;
}

.about_content_footer {
    width: 57.1429rem;
}

.about_content_footer_item img {
    width: 4.0714rem;
    height: 4.0714rem;
    margin-bottom: 3.0000rem;
}

.about_reviews_item_conten {
    padding-left: 1.5rem;
    padding-top: 3rem;
    width: 30.8571rem;
    height: 16.3571rem;
    margin-top: 2.1429rem;
}

.about_reviews_item_conten:nth-child(1n+2) {
    margin-top: 2.1429rem;
}

.about_reviews_item_conten p {
    font-size: 1.7714rem;
    width: 24.5rem;
}

.wrap_about_reviews_item img {
    width: 5.5714rem;
    height: 5.5714rem;
}

.about_content_footer_item span {
    font-size: 2.2857rem;
}

.wrap_works h1 {
    font-size: 4.1429rem;
    margin-left: 12.3571rem;
    margin-bottom: 8.5714rem;
}

.wrap_works_img img {
    min-width: 30.0000rem;
    height: 39.2857rem;
    margin-bottom: 7.4286rem;
}

.wrap_works_img img:nth-child(1n+2) {
    margin-left: 1.7143rem;
}

.wrap_works_img_scroll {
    width: 99.0000rem;
    height: 0.7857rem;
    border-radius: 1.4286rem;
    margin-bottom: 1.4286rem;
}

.wrap_works_img_scroll_thumb {
    right: 45.1429rem;
    /* width: 53.8571rem;
*/
    border-radius: 1.4286rem;
    height: 0.7857rem;
}

.swiper {
    padding-bottom: 3.5714rem;
}

.swiper-slide img {
    min-width: 30.0000rem;
    height: 39.2857rem;
    margin-left: 1.4286rem;
}

.scrollbar {
    width: 53.8571rem;
    height: 0.7857rem;
    border-radius: 1.4286rem;
}

.content_social_item {
    width: 21.9286rem;
    height: 10.3571rem;
    box-shadow: 0.1429rem 0.3571rem 0.7857rem 0.1429rem rgba(79, 79, 79, 0.17);
    border-radius: 0.5714rem;
    margin-bottom: 3.1429rem;
}

.content_social_item img{
    width: 6.9286rem;
    height: 6.9286rem;
    }

.content_social_item:nth-child(even) {
    margin-left: 2.8571rem;
}

.content_social_item:nth-child(1n+3) {
    margin-bottom: 6.7143rem;
}

.wrap_contacts h1 {
    font-size: 4.1429rem;
    margin-bottom: 6.7143rem;
}

.wrap_contacts_content_social {
    width: 46.7143rem;
}

.contacts_wrap_item {
    margin-left: 1.5000rem;
    margin-bottom: 2.5714rem;
}

.contacts_wrap_item h2 {
    font-size: 2.0714rem;
    margin-bottom: 0.9286rem;
}

.contacts_wrap_item span {
    font-size: 2.0714rem;
}

.wrap_map {
    width: 64.2857rem;
    height: 41.5714rem;
}

.contacts {
    padding-left: 12.3571rem;
    padding-right: 4.2857rem;
}

.contacts h1 {
    font-size: 4.1429rem;
    margin-bottom: 6.7143rem;
}

.wrap_map {
    margin-left: 9.5000rem;
}

.wrap_map iframe {
    border-radius: 1.0000rem;
}

.footer {
    height: 18.6429rem;
    padding-left: 8.0714rem;
    padding-right: 9.5714rem;
}

.wrap_footer_logo div {
    margin-left: 0.6429rem;
}

.footer h1 {
    font-size: 1.9286rem;
}

.footer h2 {
    font-size: 1.9286rem;
}

.wrap_footer_logo {
    padding-top: 5.7143rem;
    padding-bottom: 8.0000rem;
}

.wrap_footer_menu {
    padding-left: 5.3571rem;
}

.wrap_footer_menu a {
    font-size: 1.5714rem;
}

.wrap_footer_menu li {
    margin-bottom: 1.2143rem;
}

.wrap_footer_menu {
    /* width: 35rem; */
    padding-top: 2.8571rem;
    padding-bottom: 2.8571rem;
}

.wrap_footer_soc {
    padding-top: 7.1429rem;
    margin-left: 11.7857rem;
}

.wrap_footer_soc div {
    width: 6.0714rem;
    height: 6.0714rem;
    border-radius: 0.8571rem;
}

.wrap_footer_soc div:nth-child(2) {
    margin-left: 4.5714rem;
}

.wrap_footer_tel {
    padding-top: 8.9286rem;
    margin-left: 11.7857rem;
}

.wrap_footer_tel a {
    font-size: 2.2857rem;
}

.wrap_footer_madeby {
    padding-top: 7.7143rem;
}

.wrap_footer_madeby h2 {
    margin-bottom: 0.7857rem;
    font-size: 1.5714rem;
}

.wrap_footer_madeby a {
    font-size: 2.0000rem;
}

.wrap_tele_details .form_tg {
    width: 28.0714rem;
    margin-top: 2.4286rem;
}

.wrap_tele_details .input_tg {
    width: 13.4286rem;
    height: 2.9286rem;
    padding: 1.2857rem 1.0714rem;
    box-shadow: inset 0.5000rem 0.3571rem 0.7143rem rgba(207, 214, 228, 0.5), inset -0.3571rem -0.3571rem 0.7143rem #FFFFFF;
    border-radius: 1.5714rem;
    font-size: 1.0000rem;
}

.wrap_tele_details .input_tg:nth-child(even) {
    margin-left: 1.2143rem;
}

.wrap_tele_details .input_tg:nth-child(3) {
    margin-top: 1.2143rem;
}

.wrap_tele_details .input_tg:nth-child(4) {
    margin-top: 1.2143rem;
}

.wrap_tele_details .form_tg .bat {
    width: 8.5714rem;
    height: 2.1429rem;
    padding: 0.7143rem;
    border-radius: 1.2857rem;
    margin-top: 1.4286rem;
    font-size: 1.0000rem;
}

.wrap_tele_details .wrap_slogan_chat h2 {
    font-size: 1.2857rem;
}

.wrap_tele_details {
    top: 3.5714rem;
    left: calc(50% - 20.6429rem);
    width: 41.2143rem;
    height: 22.0000rem;
    padding-left: 6.1429rem;
    padding-top: 2.9286rem;
    border-radius: 1.2143rem;
}

.fillin_div {
    top: 3.5714rem;
    left: calc(50% - 188.0.3571rem);
    padding-top: 2.5714rem;
    padding-bottom: 2.5714rem;
    width: 26.9286rem;
    height: 14.4286rem;
    border-radius: 1.2143rem;
}

.fillin_div h1 {
    margin-top: 0.7143rem;
    font-size: 1.8571rem;
}

.fillin_div h2 {
    /* margin-top: 0.3571rem;
*/
    font-size: 1.2857rem;
}

.fillin {
    box-shadow: inset 0.2857rem 0.2857rem 0.7143rem rgba(226, 65, 65, 0.5), inset -0.3571rem -0.3571rem 0.7143rem #FFFFFF;
    border-radius: 1.0000rem;
    font-size: 1.0000rem;
    border-radius: 1.5714rem;
}

.wrap_map iframe {
    width: 64.2857rem;
    height: 41.5714rem;
}


.wrap_footer_soc img {
    width: 3.9rem;
    height: 3.9rem;
}



@media (min-width: 1366px) and (max-width: 1919px) {
    html {
        font-size: 0.72vw;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    html {
        font-size: 0.72vw;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    html {
        font-size: 0.72vw;
    }
}

@media (max-width: 1023px) {

    .header,
    .wrap_services_item,
    .wrap_contacts_all,
    .wrap_about_content {
        flex-direction: column;
    }

    .wrap_chat,
    .wrap_contacts_all {
        padding-bottom: 3.5rem;
    }

    .wrap_about_content .about_reviews {
        margin-left: 2.5rem auto;
    }

    .wrap_services {
        padding: 1.5rem;
    }

    .services_item_img img {
        width: 100%;
        height: auto;
    }

    .services_item_content h2 {
        font-size: 6.4286rem;
    }

    .services_item_content p {
        width: 100%;
        font-size: 4.7rem;
    }

    .services_item_content button {
        width: 33.2857rem;
        padding-top: 4.0714rem;
        padding-bottom: 4.0714rem;
        border-radius: 2.2857rem;
        font-size: 4.5714rem;
    }

    .about_content p {
        width: 100%;
        font-size: 5.0714rem;
        padding-bottom: 21.2143rem;
    }

    .about_content_footer_item span {
        font-size: 4.2857rem;
    }

    .about_content_footer {
        width: 100%;
    }

    .wrap_about_content .about_reviews {
        display: flex;
        margin-top: 2.5rem;
    }

    .about_fon {
        padding-left: 4.3571rem;
        padding-top: 4.3571rem;
        padding-right: 4.3571rem;
        padding-bottom: 4.3571rem;
    }

    .about_reviews {
        margin: auto;
    }

    .wrap_about_reviews_item {
        margin-left: 2.5rem;
    }

    .wrap_contacts_content_social {
        width: 100%;
        justify-content: space-around
    }

    .content_social_item {
        width: 26.9286rem;
        height: 13.3571rem;
    }

    .contacts h1 {
        font-size: 6.1429rem;
    }

    .wrap_about {
        margin-top: 5.5rem;
    }

    .contacts_wrap_item h2 {
        font-size: 4.0714rem;
    }

    .contacts_wrap_item span {
        font-size: 4.0714rem;
    }

    .wrap_contacts_content_img img {
        width: 3.5rem;
    }

    .contacts {
        padding: 2.5rem;
    }

    .wrap_map {
        width: 100%;
        margin-left: 0;
    }

    .wrap_map iframe {
        width: 100%;
        height: 63.5714rem;
    }

    .footer {
        margin-top: 20rem;
    }

    .wrap_works h1,
    .wrap_services h1 {
        font-size: 7.1429rem;
    }

    .chat_header h1 {
        font-size: 6.5714rem;
    }

    .wrap_slogan_chat h2 {
        font-size: 4.2857rem;
    }

    .wrap_chat {
        width: 65.8571rem;
    }

    .input_tg {
        width: 32rem;
        height: 6.6429rem;
        font-size: 3.5714rem;
    }

    .form_tg .bat {
        width: 33.2857rem;
        padding-top: 4.0714rem;
        padding-bottom: 4.0714rem;
        border-radius: 2.2857rem;
        font-size: 4.5714rem;
    }

    .form_tg .bat {
        width: 20.2857rem;
        padding-top: 0.0714rem;
        padding-bottom: 4.0714rem;
        border-radius: 2.2857rem;
        font-size: 3.5714rem;
    }

    .nav {
        height: 9rem;
        font-size: 3.1429rem;
        padding-left: 2.7143rem;
        padding-right: 2.2857rem;
    }

    .nav ul li {
        margin-left: 2.8571rem;
    }

    .WhatsApp_number a {
        font-size: 3.1429rem;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer h1 {
        font-size: 3.9286rem;
    }

    .footer h2 {
        font-size: 2.9286rem;
    }

    .wrap_footer_menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .wrap_footer_logo img {
        width: 10rem;
    }

    .wrap_footer_logo {
        width: 33%;
    }

    .wrap_footer_menu {
        width: 33%;
    }

    .wrap_footer_soc {
        width: 33%;
    }


    .wrap_footer_menu a {
        font-size: 3.5714rem;
    }

    .wrap_footer_menu li {
        margin-left: 2.2143rem;
    }

    .wrap_footer_soc div {
        width: 15.0714rem;
        height: 15.0714rem;
        border-radius: 0.8571rem;
    }

    .footer {
        height: auto;
        padding-bottom: 2.5rem;
        padding: 2.5rem;
        justify-content: space-evenly;
    }

    .wrap_footer_soc {
        padding-top: 0;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrap_footer_soc img {
        width: 10rem;
        height: 10rem;
    }

    .wrap_footer_tel {
        padding-top: 0;
        margin-left: 0;
    }

    .wrap_footer_madeby {
        padding-top: 0;
        margin-left: 0;
    }

    .wrap_footer_tel a {
        font-size: 3.2857rem;
    }

    .wrap_footer_madeby a {
        font-size: 3rem;
    }

    .wrap_footer_madeby h2 {
        font-size: 3rem;
    }

    .wrap_footer_menu {
        padding-left: 0;
    }


}

@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 0.72vw;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    html {
        font-size: 0.72vw;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    html {
        font-size: 0.72vw;
    }
}